<div class="directories">
  <h2>Index _</h2>

  {% assign current_url = page.url | prepend: '//' %}
  {% assign current_level = page.url | split: '/' | size %}
  {% assign sorted_pages = site.pages | sort: 'url' %}
  {% assign counter = 0 %}

  <div class="row">
    {% for page in sorted_pages %}
    {% assign url = page.url | prepend: '//' %}
    {% assign parts = url | remove: current_url | split: '/' %}
    {% if url contains current_url and url.size > current_url.size and parts.size == 1 or current_level > 2 %}
    {% assign mod = counter | modulo: 2 %}
    {% assign counter = counter | plus: 1 %}
    {% if mod == 0 %}
  </div>
  <div class="row">
    {% endif %}
    <div class="column column-50 item">
      <a href="{{ page.url }}">
        {{ page.title }}
        <span>
          {% assign page_url = page.url | url_decode | prepend: '//' | remove: current_url %}
          {% assign size = page_url | size | minus: 1 %}
          ./{{ page_url | slice: 0, size }}
        </span>
      </a>
    </div>
    {% endif %}

    {% endfor %}
    <div class="column none">
      Empty.
    </div>
  </div>
</div>
