---
layout: default
---
<section class="container home">
    <div class="profile-picture-frame">
        <img alt="profile picture" class="profile-picture" src="/assets/profile_picture.jpg" />
    </div>
    <h1>Eder Ignatowiczs</h1>
    <div class="wrapper">
        <div class="divider div-transparent div-arrow-down"></div>     
    </div>
    {% include highlights.html %}
    <div class="wrapper">
        <div class="divider div-transparent div-arrow-down"></div>     
    </div>
    {% include activity.html %}
</section>
