
// Breadcrumb
// ––––––––––––––––––––––––––––––––––––––––––––––––––

ul.breadcrumb
  display: block
  margin: 0
  padding: 0
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  width: 100%
  li
    display: inline-block
    padding-left: 0
    margin-left: 0
    &::before
      content: '/'
  li:last-child
      a
        pointer-events: none
        color: $color-secondary
