
// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #ffffff !default
$color-primary: #ab8333 !default
$color-secondary: #333333 !default
$color-tertiary: #fafafa !default
$color-quaternary: #dddddd !default
$color-quinary: #cccccc !default
$color-senary: #aaaaaa !default
