---
layout: default
---
<section class="container home">
    <div class="profile-picture-frame">
        <img alt="profile picture" class="profile-picture" src="/assets/eder2.jpg" />
    </div>
    <h1>Eder Ignatowicz</h1>
    <h4 class="text-gray">Computer Scientist and Tech Lead at Red Hat</h4>
    <div class="wrapper">
        <div class="divider div-transparent div-arrow-down"></div>     
    </div>
    {% include highlights.html %}
    <div class="wrapper">
        <div class="divider div-transparent div-arrow-down"></div>     
    </div>
    {% include activity.html %}
</section>
